<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body><br><br><br><br><br>

您好！你的名字是{{user.name}}，你的邮箱是{{email}}，你的密码是{{new_password}}<br><br>


请输入您的邮箱: <input type="text" id="field1" value=""><br>
<form action="/web/index">
<input type="submit" value="撤销">
</form>
<form><br><br>

<input type="radio" name="sex" value="male" checked>Male
<br>
<input type="radio" name="sex" value="female">Female
</form><br>

<button onclick= >确定</button>
<button onclick= >取消</button>

<a href="http://www.baidu.com/">点击进入百度</a><br><br>
<a href="https://github.com/yinxuan/yinxuan.github.io/">点击进入my github.io</a><br><br>
<a href="/web/index2/{{user.age}}/{{number}}">点击进入index2</a><br>


<form action="/web/index2/{{user.age}}/{{number}}">
<input type="submit" value="确定">
</form><br>

<body background="http://www.tu123.cn/uploads/allimg/1303/23/1364003V2R550-1T328.jpg">
</body>

</body>
</html>