<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
请输入新的密码:<br>
按钮:点击提交

<form action="action_page.php">
First name:<br>
<input type="text" name="firstname" value="Mickey">
<br>
Last name:<br>
<input type="text" name="lastname" value="Mouse">
<br><br>
<input type="submit" value="Submit">
</form>
#Email
EMAIL_ADDRESS = 'jianshi_support@126.com'
EMAIL_PASSWORD = 'jianshi126' # client dynamic authorization code from mail.126.com


# Dev conf specified. Dev can change this file based on your own requirement.
TEST_CONFIG = 'dev'

DEBUG = True

# safety constant. The real key is stored in other config, which isn't included in this open-source repo
DEFAULT_KEY = 'XjYpwIiYLbaOsU69HXUjlGRMCut88zQG'
AUTH_TOKEN_ENCRYPT_KEY = '8G7Zg3kjhsdv23bjdalj82nh'
SYNC_TOKEN_ENCRYPT_KEY = 'a9skSfsGS9sdfjNl2S3lsSs7'

# mysql
MYSQL_LOCAL_HOST = '192.168.33.10'
MYSQL_USER       = 'emma'
MYSQL_PASSWORD   = 'emma'
MYSQL_DB_NAME    = 'jianshi'
MYSQL_TEST_DB_NAME = 'jianshi_test'


# user
AUTH_TOKEN_EXPIRE_TIME = 6 * 60 * 60

# home image_poem fetch time gap
HOME_IMAGE_POEM_FETCH_TIME_GAP = 10


</body>
</html>