<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="PassWord_Change" style="background-color: #f9f9f9;color: #030303;height: 100%;">
	<div style="background: url('https://github.com/wingjay/jianshi/blob/v2.5-YinXuan/material/icon_136_136.png?raw=true') 50% 50% no-repeat;padding-top: 180px;">
		
	</div>
	<div style="text-align: center;font-size: 22px;"> 
		Hi <span style="color: #fab623">{{ dev_name }}</span> 
	</div>
	<div style="text-align: center;font-size: 22px;"> 
		Here is JianShi Change PassWord WEB!
	</div>

	<div class="container">
		<div style="margin: 0 auto;">
			<div style="padding: 30px;">
				<textarea placeholder="Enter your email address" style="width: 100%"></textarea>
				<div class="pull-right" style="box-shadow: 1,3,3,.2;padding: 5px;border-radius: 20px;background: #fab623;margin-top: 20px;">Seed password reset email</div>
				<!-- <button class="pull-right btn-primary" type="submit" style="margin-top: 20px;margin-bottom: 20px;">Seed password reset email</button>
 -->			</div>
			<div style="padding: 30px;">
				<textarea placeholder="Enter your email address" style="width: 100%"></textarea>
				<div class="pull-right" style="box-shadow: 1,3,3,.2;padding: 5px;border-radius: 20px;background: #fab623;margin-top: 20px;">忘记密码</div>

				<!-- <button class="pull-right" type="submit" style="margin-top: 20px;margin-bottom: 20px;background: #fab623">>忘记密码</button>
 -->			</div>
			<div style="padding: 30px;">
				<textarea placeholder="Enter your email address" style="width: 100%"></textarea>
				<div class="pull-right" style="box-shadow: 1,3,3,.2;padding: 5px;border-radius: 20px;background: #fab623;margin-top: 20px;margin-bottom: 68px;">确认密码</div>

				<!-- <button class="pull-right btn-primary" type="submit" style="margin-top: 20px;margin-bottom: 50px;">>确认密码</button>
 -->			</div>			
		</div>
	</div>

</div>

</body>
</html>