<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by wingjay on 11/16/16 3:32 PM
  ~ Copyright (c) 2016.  All rights reserved.
  ~
  ~ Last modified 11/10/16 11:05 AM
  ~
  ~ Reach me: https://github.com/wingjay
  ~ Email: yinjiesh@126.com
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.wingjay.jianshi">

    <application
        android:name=".global.JianShiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_date_choose">
        </activity>
        <activity
            android:name=".ui.EditActivity"
            android:exported="false"
            android:label="@string/title_activity_edit">
        </activity>
        <activity
            android:name=".ui.DiaryListActivity"
            android:exported="false"
            android:label="@string/title_activity_diary_list">
        </activity>
        <activity
            android:name=".ui.base.BaseActivity"
            android:exported="false"
            android:label="@string/title_activity_base">
        </activity>
        <activity
            android:name=".ui.ViewActivity"
            android:exported="false"
            android:label="@string/title_activity_view">
        </activity>
        <activity
            android:name=".ui.SettingActivity"
            android:exported="false"
            android:label="@string/title_activity_setting">
        </activity>
        <activity
            android:name=".ui.SignupActivity"
            android:exported="false"/>

        <service android:name=".sync.SyncService"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a97c3efc76ce98af59ab9f8fa8b7c2ad7468f78c"/>

    </application>

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
